body {
    margin: 0;
    font-family: "Poppins";
    padding-top: 80px;
}

.top-nav {
    background-color: #E6C69B;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 50px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;      
    z-index: 1000;   
    box-sizing: border-box;

    transition: transform 0.3s ease;
}

.nav-hidden {
    transform: translateY(-100%);
}

.menu-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 50px;
}

.logo-name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.links-container {
    display: flex;    
    gap: 30px;        
    justify-content: flex-end;
}

.nav-link {
    color: #000000;
    font-size: 20px;
    text-decoration: none;
    font-family: "Poppins";
    font-weight: 600;
    padding-bottom: 5px;
    position: relative;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 5px;
    background-color: green;
    border-radius: 10px;

    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.25s ease;
}

.nav-link:hover::after {
    transform: scaleX(1);
}

.nav-link.active::after {
    transform: scaleX(1);
    background-color: red;
}

/* MENU HEADER */
.menu-header {
    padding: 30px 50px 0 50px;
    text-align: center;
}

.menu-header h1 {
    font-size: 40px;
    margin: 0;
}

.menu-header nav {
    display: flex;
    justify-content: center;
    padding: 0;
    background: none;
}


.menu-links-container {
    display: flex;
    gap: 60px;
    background: #E6C69B;
    font-size: 20px;
    padding: 20px 50px;
    border-radius: 10px;
    margin: 15px 0;
}

.menu-link {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    position: relative;
}

.menu-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 4px;
    background: green;
    transform: scaleX(0);
    transition: 0.25s;
}

.menu-link:hover::after {
    transform: scaleX(1);
}

.menu-link.active::after {
    transform: scaleX(1);
    background: red;
}


.menu-header hr {
    border: none;
    height: 3px;
    background: #42414199;
    margin: 50px 0;
}

/* ===================================================================== */
.menu-container {
    padding: 0 50px;
    text-align: left;
}

.menu-container h1 {
    font-size: 44px;
    margin-top: 0;
}

.menu-container-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 60px;
    row-gap: 50px;
    justify-content: center; 
}






/* ===================================================================== */


.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0px;
    row-gap: 15px;
    margin-top: 20px;
    padding: 0 20px;
}

.card {
    width: 325px;
    background-color: #F6E7C0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0,0,0,0.15);
    margin: 0px;
    display: flex;
    flex-direction: column;
    position: relative;

    transition: transform 0.2s ease;
}

.card:hover {
    transform: translateY(-8px);
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    background: #ddd;
}

.card-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-content h3 {
    font-size: 23px;
    margin-top: 0px;
    margin-bottom: 8px;
}

.card-content p {
    color: black;
    font-size: 15px;
    line-height: 1.3;
    text-align: justify;
}

.card-content .price {
    color: #666;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.card-content .btn {
    background-color: #2C5439;
    color: white;
    font-size: 20px;
    font-weight: 600;
    width: 160px;
    height: 40px;
    display: block;     
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: auto auto 10px auto;

    transition: all 0.25s ease;
}

.card-content .btn:hover {
    transform: scale(1.08) translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}


.card-container-PACKAGES {
    display: grid;
    grid-template-columns: repeat(auto-fit, 325px);
    column-gap: 100px;
    row-gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

.fav {
    position: absolute;
    top: 10px;
    left: 15px;
    background-color: #e74c3c;
    color: white;
    padding: 3px 10px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    
}


.page {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: 500;
    margin-top: 50px;
}

/* ===================================================================== */

.menu-sections{
    position: relative;
    overflow: hidden;

}

.menu-section{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.menu-section.active{
    opacity: 1;
    transform: translateX(0);
    position: relative;
}

.menu-arrows {
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    pointer-events: none;  
}

.menu-arrows button {
    position: absolute;
    pointer-events: auto;
    
    font-size: 60px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #5c3d2e;

    width: auto;
    height: auto;
    border-radius: 0;
    box-shadow: none;

    display: block;
    transition: 0.25s;
}

#arrow-left {
    left: 50px;
}

#arrow-right {
    right: 50px;
}

.menu-arrows button:hover {
    transform: scale(1.15);
    color: red;
}

.menu-section.slide-left {
    transform: translateX(-100%);
}

.menu-section.slide-right {
    transform: translateX(100%);
}


.menu-decor{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    pointer-events:none;
}

.banderitas3 {
    position: absolute;
    top: 5%;
    right: 0%;
    z-index: 0;
}

.banderitas3 img {
    width: 500px;
    height: auto;
}

.dahon1 {
    position: absolute;
    top: 70%;
    left: 0%;
    z-index: -1;
}

.dahon1 img {
    width: 200px;
    height: auto;
}

.spoon-fork {
    position: absolute;
    top: 100%;
    right: 0%;
    z-index: 0;
}

.spoon-fork img {
    width: 150px;
    height: auto;
}



@media (max-width: 768px) {

    .menu-arrows {
        display: none;
    }

    /* NAV */
    .top-nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .menu-toggle {
        display: block;
    }

    .links-container {
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100%;
        box-sizing: border-box;
        margin-top: -20px;

        background-color: #E6C69B;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;

        flex-direction: column;
        align-items: flex-end; 
        padding: 10px 20px;     
        gap: 10px;

        max-height: 0;
        overflow: hidden;
        transition: all 0.3s ease;
    }

    .links-container.show {
        margin-top: -20px;
        max-height: 300px;
        padding: 15px 20px; 
    }

    .nav-link {
        font-size: 16px;
        width: auto;         
        padding: 10px 0px; 
        text-align: left; 
    }

    .nav-link::after {
        left: 0;               
        bottom: 5px;
        width: 100%;           
        height: 5px;          
        background-color: red;
        border-radius: 10px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.25s ease;
    }

    .nav-link:hover::after,
    .nav-link.active::after {
        transform: scaleX(1);
    }


    /* HEADER */
    .menu-header h1 {
        font-size: 28px;
    }

    .menu-links-container {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center;

        gap: 8px;
        padding: 12px 10px;
    }

    .menu-links-container::-webkit-scrollbar {
        display: none; 
    }

    .menu-link {
        white-space: nowrap;
        font-size: 12px;
    }

    .menu-container-grid,
    .card-container-PACKAGES {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 15px;
        justify-content: center;
    }

    .card-container-PACKAGES .card:last-child:nth-child(odd) {
        grid-column: span 2;
        justify-self: center;
        width: 200px;
    }
    

    .menu-header,
    .menu-container {
        padding: 0 20px;
    }

    .menu-links-container {
        flex-wrap: wrap;
        gap: 15px;
        padding: 10px 20px;
        font-size: 18px;
    }

    .card {
        width: 100%;
    }

    .card img {
        height: 140px;
    }


    .card-content {
        padding: 10px;
    }

    /* 🔹 title */
    .card-content h3 {
        font-size: 16px;
        margin-bottom: 5px;
    }

    /* 🔹 price */
    .card-content .price {
        font-size: 13px;
        margin-bottom: 0px;
    }

    /* 🔹 description */
    .card-content p {
        font-size: 10px;
        line-height: 1.2;
    }

    /* 🔹 button */
    .card-content .btn {
        width: 100%;
        height: 32px;
        font-size: 12px;
    }

    .fav {
    position: absolute;
        top: 5px;
        left: 10px;
        background-color: #e74c3c;
        color: white;
        padding: 3px 10px;
        font-size: 11px;
        font-weight: 600;
        border-radius: 10px;
    }


    .top-nav {
        padding: 10px 20px;
    }

    .links-container {
        gap: 15px;
    }

    /* ARROWS */
    #arrow-left {
        left: 10px;
    }

    #arrow-right {
        right: 10px;
    }

    .menu-arrows button {
        font-size: 40px;
    }

    /* DECOR */
    .banderitas3 img {
        width: 250px;
    }

    .dahon3 img {
        width: 100px;
    }
}



