body {
    margin: 0;
    font-family: "Poppins";
    padding-top: 80px;
}

/* ===============NAV====================== */

nav {
    background-color: #E6C69B;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 50px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;      
    z-index: 1000;   
    box-sizing: border-box;

    transition: transform 0.3s ease;
}

.nav-hidden {
    transform: translateY(-100%);
}

.menu-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 50px;
}

.logo-name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.links-container {
    display: flex;    
    gap: 30px;        
    justify-content: flex-end;
}

.nav-link {
    color: #000000;
    font-size: 20px;
    text-decoration: none;
    font-family: "Poppins";
    font-weight: 600;
    padding-bottom: 5px;
    position: relative;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 5px;
    background-color: green;
    border-radius: 10px;

    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.25s ease;
}

.nav-link:hover::after {
    transform: scaleX(1);
}

.nav-link.active::after {
    transform: scaleX(1);
    background-color: red;
}

/* Landing page hero sec */
/* ===================================== */
.hero {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;

    margin-top: -30px;
    z-index: 1; 
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-content {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    color: white;
}

.hero-content h1{
    font-family: "Poppins";
    font-size: 60px;
    color: #4D372F;
    line-height: 1.2;
    margin-bottom: 15px;
}

.hero-content p {
    font-family: "Poppins";
    color: #4D372F;
    font-weight: 550;
    font-size: 28px;
    line-height: 1.2;
    margin-top: 0;
}

.explore-menu-btn {
    background-color: #2C5439;
    font-family:"Poppins";
    color: white;
    font-weight: 600;
    width: 220px;
    height: 60px;
    margin-left: 200px;
    margin-top: 20px;
    font-size: 25px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.25s ease;
}

.explore-menu-btn:hover {
    transform: scale(1.08) translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}


/* ===================================== */

.handang-pinoy-container {
    margin: 20px 0px 100px 0;
    position: relative;
    z-index: 2;
}

.handang-pinoy-section{
    position: relative;
}


.handang-pinoy-container h1 {
    font-family: "Poppins";
    font-size: 60px;
    color: #4D372F;
    margin-bottom: 0;
    margin-left: 50px;

}

.handang-pinoy-container p {
    font-family: "Poppins";
    color: #4D372F;
    font-weight: 550;
    font-size: 28px;
    margin-top: 0;
    margin-left: 50px;
}

.handang-pinoy-img-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.handang-pinoy-img-card img {
    transition: transform 0.2s ease;
}

.handang-pinoy-img-card img:hover {
    transform: translateY(-8px);
}

/* ===================================== */

.handaan-highlight-container {
    text-align: center;
    margin: 150px 0 100px 0;
    position: relative;
    z-index: 0;
}

.handaan-highlight-container h1 {
    font-family: "Poppins";
    font-size: 60px;
    color: #4D372F;
    margin-bottom: 0;
}

.handaan-highlight-container p {
    font-family: "Poppins";
    color: #4D372F;
    font-weight: 550;
    font-size: 28px;
    margin-top: 0;
}

/* ======================================================================== */

.handaan-highlight-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, 325px);
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 20px;
    padding: 0 20px;
}

.handaan-highlight-card .card {
    transition: transform 0.35s ease, box-shadow 0.35s ease;
}

.handaan-highlight-card .card:hover {
    transform: translateY(-12px) scale(1.03);
    box-shadow: 0 18px 35px rgba(0,0,0,0.25);
}

.card {
    width: 325px;
    background-color: #F6E7C0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0,0,0,0.15);
    margin: 0px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    background: #ddd;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    background: #ddd;

    transition: transform 0.35s ease;
}

.card:hover img {
    transform: scale(1.08);
}

.card-content h2 {
    font-size: 23px;
    margin-top: 0px;
    margin: 10px 10px;
    text-align: left;
}

.card-content p {
    color: black;
    font-size: 15px;
    font-weight: 200;
    line-height: 1.3;
    text-align: justify;
    margin: 0px 10px;
}

/* ======================================================================== */

.fiesta-packages-container {
    margin: 20px 0px 20px 0px;
}

.fiesta-packages-container h1{
    font-family: "Poppins";
    font-size: 60px;
    color: #4D372F;
    margin-bottom: 0;
    margin-left: 50px;
}

.fiesta-packages-container p {
    font-family: "Poppins";
    color: #4D372F;
    font-weight: 550;
    font-size: 28px;
    margin-top: 0;
    margin-left: 50px;
}


.fiesta-packages-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, 325px);
    column-gap: 100px;
    row-gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

.fiesta-packages-card .card:hover {
    transform: translateY(-8px);
}

.card-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-content h2 {
    font-size: 23px;
    margin-top: 0px;
    margin: 10px 10px;
    text-align: left;
}

.card-content p {
    color: black;
    font-size: 15px;
    font-weight: 200;
    line-height: 1.3;
    text-align: justify;
    margin: 0px 10px 10px 10px;
}


.card-content .btn {
    background-color: #2C5439;
    color: white;
    font-size: 20px;
    font-weight: 600;
    width: 160px;
    height: 40px;
    display: block;     
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: auto auto 10px auto;

    transition: all 0.25s ease;
}

.card-content .btn:hover {
    transform: scale(1.08) translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}





/* ============= Bg Decor =============== */

.handang-pinoy-decor{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    pointer-events:none;
}


.banderitas1 {
    position: absolute;
    top: -20%;
    right: 0%;
    z-index: 0;
}

.banderitas1 img {
    width: 700px;
    height: auto;
}

.banderitas2 {
    position: absolute;
    top: 95%;
    left: 0%;
    z-index: 0;
}

.banderitas2 img {
    width: 450px;
    height: auto;
}

.bilao {
    position: absolute;
    top: 95%;
    right: 0%;
    z-index: 0;
}

.bilao img {
    width: 120px;
    height: auto;
}

.dahon1 {
    position: absolute;
    top: 180%;
    left: 0%;
    z-index: 0;
}

.dahon1 img {
    width: 200px;
    height: auto;
}


.spon-fork {
    position: absolute;
    top: 240%;
    right: 0%;
    z-index: 0;
}

.spon-fork img {
    width: 180px;
    height: auto;
}

.dahon2 {
    position: absolute;
    top: 340%;
    right: 0%;
    z-index: 0;
}

.dahon2 img {
    width: 185px;
    height: auto;
}

/* =============================================================== */


@media (max-width: 768px) {

    nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .menu-toggle {
        display: block;
    }

    .links-container {
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100%;
        box-sizing: border-box;
        margin-top: -20px;

        background-color: #E6C69B;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;

        flex-direction: column;
        align-items: flex-end; 
        padding: 10px 20px;     
        gap: 10px;

        max-height: 0;
        overflow: hidden;
        transition: all 0.3s ease;
    }

    .links-container.show {
        margin-top: -20px;
        max-height: 300px;
        padding: 15px 20px; 
    }

    .nav-link {
        font-size: 16px;
        width: auto;         
        padding: 10px 0px; 
        text-align: left; 
    }

    .nav-link::after {
        left: 0;               
        bottom: 5px;
        width: 100%;           
        height: 5px;          
        background-color: red;
        border-radius: 10px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.25s ease;
    }

    .nav-link:hover::after,
    .nav-link.active::after {
        transform: scaleX(1);
    }


    /* HERO SECTION */
    .hero {
        height: 103vh;
    }

    .hero-content {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        
        width: 90%;
        max-width: 200px;
        text-align: left;
    }

    .hero-content h1 {
        font-size: 32px;
        text-align: left;
    }

    .hero-content p {
        font-size: 18px;
        text-align: left;
    }

    .explore-menu-btn {
        margin-top: 15px;
        margin-left: 0; 
        width: 160px;
        height: 45px;
        font-size: 16px;
    }

    /* TITLES */
    h1 {
        font-size: 30px !important;
        margin-left: 0 !important;
        text-align: center;
    }

    p {
        font-size: 18px !important;
        margin-left: 0 !important;
        text-align: center;
    }

    /* HANDANG PINOY IMAGES */
    .handang-pinoy-img-card {
        display: flex;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        flex-wrap: wrap; 
        gap: 30px; 
    }

    .handang-pinoy-img-card img {
        width: 100%;
        max-width: 160px;
        height: auto;
        
    }

    /* HANDAAN HIGHLIGHT */
    .handaan-highlight-card {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .handaan-highlight-card .card {
        width: 100%;
    }

    .handaan-highlight-card .card:last-child:nth-child(odd) {
        grid-column: span 2;
        justify-self: center;
        width: 180px;
    }

    .handaan-highlight-card img {
        height: 120px !important; 
    }

    .handaan-highlight-card h2 {
        font-size: 16px !important; 
        margin: 0 0 10px 0;
    }

    .handaan-highlight-card p {
        font-size: 10px !important; 
        text-align: justify;
    }

    /* FIESTA PACKAGES */
    .fiesta-packages-card {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        row-gap: 20px;
        column-gap: 10px;
    }


    .fiesta-packages-card .card:last-child:nth-child(odd) {
        grid-column: span 2;
        justify-self: center;
        width: 200px;
    }

    .fiesta-packages-card .card {
        width: 90%;
    }

    .fiesta-packages-card img {
        height: 150px !important; 
    }

    .fiesta-packages-card h2 {
        font-size: 16px !important; 
        margin: 0 0 10px 0;
    }

    .fiesta-packages-card p {
        font-size: 10px !important; 
        text-align: justify;
    }


    .fiesta-packages-card .btn {

        background-color: #2C5439;
        color: white;
        font-size: 12px;
        font-weight: 600;
        width: 120px;
        height: 40px;
        display: block;     
        border-radius: 10px;
        border: none;
        margin: auto auto 10px auto;

    }

    /* ===== MOBILE DECORATION ===== */
    .banderitas1 {
        top: -20%;
        right: 0%;
    }

    .banderitas1 img {
        width: 280px;
    }

    .banderitas2 {
        top: 95%;
        left: -10%;
    }

    .banderitas2 img {
        width: 200px;
    }

    .bilao {
        top: 90%;
        right: 0%;
    }

    .bilao img {
        width: 70px;
    }

    .dahon1 {
        top: 270%;
        left: 0%;
    }

    .dahon1 img {
        width: 120px;
    }

    .spon-fork {
        top: 310%;
        right: 0%;
    }

    .spon-fork img {
        width: 80px;
    }

    .dahon2 {
        top: 430%;
        right: 0%;
    }

    .dahon2 img {
        width: 100px;
    }
}














/* =============== FOOTER ====================== */
.site-footer {
    background-color: #3f2d16;
    color: #f1e4cc;
    padding: 25px 15px 15px;
    margin-top: 50px;
    font-family: "Poppins", sans-serif;
}
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.footer-column {
    flex: 1 1 220px;
    min-width: 220px;
}
.footer-column h3 {
    margin-bottom: 12px;
    color: #fff;
    font-size: 18px !important;
}

.footer-column h1 {
    margin: 15px 0 0 0 ;
    color: #fff;
    font-size: 18px;
}

.footer-column p,
.footer-column li {
    color: #f1e4cc;
    font-size: 14px;
    line-height: 1.6;
}
.footer-des {
    width: 380px;
    margin-top: 3px;
}
.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-column ul li {
    margin-bottom: 5px;
}
.footer-column h2 {
    font-size: 20px !important;
    color: #f1e4cc;
    text-decoration: none;
    margin: 10px 0 15px 0;
}
.footer-column a {
    color: #f1e4cc;
    text-decoration: none;
}
.footer-column a:hover {
    color: #ffd88b;
}
.footer-bottom {
    text-align: center;
    border-top: 1px solid rgba(241, 228, 204, 0.2);
    padding-top: 12px;
    margin-top: 20px;
    font-size: 13px;
}

.social-links {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}


.social-links a {
    color: #f1e4cc;
    background: rgba(255,255,255,0.1);
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 25px;
    display: inline-block;
    transition: transform 0.3s ease;
}

.social-links a:hover {
    background: rgba(255,255,255,0.25);
    transform: translateY(-8px);

}
.contact p i{
    margin: 5px;
    margin-right: 8px;
    color: #ffd88b; 
}

.contact i {
    font-size: 20px;
}


.back-to-top-btn {
    margin-top: 30px;
    background-color: transparent;
    color: #f1e4cc;
    border: 2px solid #f1e4cc;
    padding: 12px 24px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 8px;
}

.back-to-top-btn:hover {
    background-color: rgba(241, 228, 204, 0.1);
    border-color: #fff;
    color: #fff;
    transform: translateY(-3px);
}




/* ===== MOBILE FOOTER ADJUSTMENTS ===== */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 20px;
    }

    .footer-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .footer-column h1 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .footer-column h2 {
        font-size: 16px;
        margin: 10px 0;
    }

    .footer-column h3 {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .footer-column p,
    .footer-column li {
        font-size: 13px;
        line-height: 1.5;
    }

    .footer-column .footer-des {
        width: 100%;
        max-width: 250px;

        font-size: 13px !important;
        line-height: 1.5;
        text-align: center;

        margin: 0 auto 10px auto;
    }

    .footer-column ul {
        padding: 0;
        margin: 0 auto 10px auto;
    }

    .footer-column ul li {
        margin-bottom: 5px;
    }

    .social-links {
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
    }

    .social-links a {
        font-size: 20px;
        padding: 8px 12px;
    }

    .contact p i{
    margin: 5px;
    margin-right: 8px;
    color: #ffd88b; 
    }

    .contact  h3 {
        text-align: center;
    }

    .contact p {
        font-size: 15px !important;
    }

    .contact i {
        font-size: 15px;
    }

    .back-to-top-btn {
        margin: 30px auto;
        display: flex;
        justify-content: center; 
        align-items: center;
        gap: 8px;
        background-color: transparent;
        color: #f1e4cc;
        border: 2px solid #f1e4cc;
        padding: 12px 24px;
        border-radius: 50px;
        cursor: pointer;
        font-weight: 600;
        font-size: 16px;
        transition: all 0.3s ease;
    }

    .footer-bottom {
        font-size: 10px;
        margin-top: 15px;
        text-align: center;
    }
}





/* ===============ANIMATION SCROLL EFFECT====================== */

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}